TODO:
{{! Username, date created, facebook / instagram logo }}

<div class="card mb-5">

  <header class="card-header bg-secondary">
    <h4 class="card-title"><a
        href="/post/{{id}}"
        target="_blank"
      >{{title}}</a></h4>
    <h6 class="mb-2 text-light">Posted by
      {{user.username}}
      on
      {{created_at}}</h6>
  </header>

</div>

<a href="/post/{{id}}">{{comments.length}}
  {{format_plural "comment" comments.length}}</a>