<div class="card">

  <header class="card-header">
    <div>
      {{! TITLE }}
      <a href="{{content}}" target="_blank">{{title}}</a>

      <span>({{format_url content}})</span>

    </div>
  </header>

  <div class="meta card-content">
    <div>
      {{! POST CONTENT }}
    </div>
    <div>

      {{! Username, date created, facebook / instagram logo }}

      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </div>
  </div>

</div>